.header{
  display: flex;
  background-color: #001529;
  z-index: 1000;
  .element{
    padding: 20px 30px;
    color: white !important;
    text-decoration: none;

    &_selected{
      background: #2b5453;
    }
  }
  .link{
    color: white !important;
    font-size: 15px;
  }

  @media screen and (max-width: 576px){
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top:70px;
    display: flex;
    justify-content: center;
  }
}
